mpgi2/mpgi2-ha

# temp files
**/*.swp

#For Java stuff:
*.class

# For C
**/*.o
**/*.d

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
Softwaretechnik/**/*.jar
*.war
*.ear

#for Latex

*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.swo
*.bbl
*.bcf
*.blg
*.run.xml

# for Mac
**/.DS_Store

# Python
*.pyc

# Stochastik Buch & klausurblatt
stochastik/Stochastik-Buch/*
stochastik/klausur/*

# berechenbarkeit loseungen als fotos
berechenbarkeit-komplexitaet/**/*.jpg
berechenbarkeit-komplexitaet/**/*.jpeg

# webtech: bilder
webtech/**/*.png
webtech/**/*.jpg
webtech/**/*.jpeg
webtech/**/*.gif

# TKN Praktikum: eigenes repo!
tkn-programmierpraktikum/iot-android-gateway

# AAL Project: iolite stuff
aal-project/iolite/**
aal-project/Eclipse*/**
